.filter-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: thin solid #ccc;
    border-radius: 5px;
    margin: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-container:hover {
    background-color: crimson;
    color: white;
}