* {
    font-family: 'Solway', serif;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    padding: 1em;
    display: flex;
    background: white;
    color: crimson;
}

h1, p {
    margin: 0.5em 0;
}