<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Angular Filters | Filtering in AngularJS</title>
</head>

<body ng-app="filterApp">
    <header>
        <h1>Common Filters In AngularJS</h1>
    </header>
    <main ng-controller="filterController">

        <section class="filter-container">
            <h1>Currency Filter</h1>
            <p ng-non-bindable>Format a number to a currency format. Syntax - {{ number | currency }}</p>
            <div class="example">
                <p> <strong>example:</strong> </p>
                <span>Price: {{ '80' | currency }}</span>
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/currency">currency
                    filter</a></p>
        </section>

        <section class="filter-container">
            <h1>Date Filter</h1>
            <p ng-non-bindable>Format a date to a specified format. Syntax - {{ yourdate | date:format }}</p>
            <div class="example">
                <p><strong>example:</strong></p>
                <span>Date: {{ date | date: "MM-dd-yyyy" }}</span>
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/date">date filter</a>
            </p>
        </section>

        <section class="filter-container">
            <h1>JSON Filter</h1>
            <p ng-non-bindable>Format an object to a JSON string. Syntax - {{ JSONObject | json:spacing }}</p>
            <div class="example">
                <p><strong>example:</strong></p>
                <span>JSON: {{ { 'name': 'Aniruddha', 'age': 26, 'contact': '8669688215' } | json }}</span>
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/json">JSON filter</a>
            </p>
        </section>

        <section class="filter-container">
            <h1>Limit To Filter</h1>
            <p ng-non-bindable>Limits an array/string, into a specified number of elements/characters. Syntax -
                {{ String/Array/Number | limitTo: yourLimit }}</p>
            <div class="example">
                <p><strong>examples:</strong></p>
                <span>String: {{ 'Learning some awesomesauce AngularJS.' | limitTo:55 }}</span> <br />
                <span>String: {{ 'Learning some awesomesauce AngularJS.' | limitTo:5 }}</span> <br />
                <span>String: {{ 'Learning some awesomesauce AngularJS.' | limitTo:15 }}</span> <br />
                <span>Array: {{ [1, 2, 3, 4, 5] | limitTo:2 }}</span> <br />
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/limitTo">limitTo
                    filter</a>
            </p>
        </section>

        <section class="filter-container">
            <h1>Lowercase & Uppercase Filter</h1>
            <p ng-non-bindable>Format a string to lower or upper case. Syntax -
                {{ yourstring | lowercase }} and {{ yourstring | uppercase }}</p>
            <div class="example">
                <p><strong>examples:</strong></p>
                <span>lowercase: {{ 'HELLO WORLD, WE ARE LEARNING ANGULAR.' | lowercase }}</span> <br />
                <span>uppercase: {{ 'angular magic converts me into uppercase.' | uppercase }}</span> <br />
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/lowercase">lowercase
                    filter</a></p>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/uppercase">uppercase
                    filter</a></p>
        </section>

        <section class="filter-container">
            <h1>Number Filter</h1>
            <p ng-non-bindable>Format a number to a string. Syntax - {{ number_expression | number : fractionSize}}</p>
            <div class="example">
                <p><strong>examples:</strong></p>
                <span>simple: {{ 123.45 | number}}</span> <br />
                <span>fractions: {{ 123.45 | number:1}}</span> <br />
                <span>negation: {{ -123.45678 | number: 4}}</span>
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/number">number
                    filter</a></p>

        </section>

        <section class="filter-container">
            <h1>orderBy Filter</h1>
            <p ng-non-bindable>Orders an array by an expression. Syntax -
                {{ orderBy_expression | orderBy : expression : reverse : comparator}}</p>
            <div class="example">
                <p><strong>example:</strong></p>
                <p ng-repeat="point in points | orderBy: 'index'">
                    {{ point.text }}
                </p>
            </div>
            <p>More information at: <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter/orderBy">orderBy
                    filter</a></p>

        </section>

        <section class="filter-container">
            <h1>Filter Documentation</h1>
            <div class="example">
                <span>AngularJS - <a href="https://code.angularjs.org/1.7.8/docs/api/ng/filter">Reference</a></span> <br />
                <span>W3Schools - <a href="https://www.w3schools.com/angular/angular_filters.asp">Reference</a></span> <br />
                <span>Tutorial Video - <a href="https://www.youtube.com/watch?v=FcygSqHXYMQ">Here</a></span>
            </div>
        </section>

    </main>
    <script src="./filters.js"></script>
    <script src="./controllers/filter-controller.js"></script>
</body>

</html>